*{
    margin: 0;
    padding: 0;
}

.section_padding{
    padding: 50px 0;
}
header{
    background: #f7f7f7;
}

h3{
    color: #f16334;
    font-size: 24px;
}

h4{
    font-size: 20px;
}

.about_me{
    padding: 50px;
}

.personal_information{
    margin-top: 70px;
}

.personal_information h4:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 50px;
    background: #f16334;
    top: 60px;
    margin-left: -268px;
    margin-top: 20px;
}

.personal_information p{
    font-size: 45px;
    margin-top: 30px;
    line-height: 48px;
}

h6{
    font-size: 12px;
    color: darkgray;
    margin-top: 20px;
}

h6 strong{
    color:  #f16334;
}

.personal_information a{
    background: #f16334;
    color: #f7f7f7;
    font-size: 10px;
    font-weight: 600;
    padding: 15px;
    width: 60%;
    border-radius: 0px;
    margin-top: 30px;
}
/*img{*/
    /*height: 500px;*/
    /*width: 60%;*/
/*}*/

.title_section{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;

}

.title_section h1{
    font-weight: 100;
    position: relative;
}

.title_section h1:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 50px;
    background: #f16334;
    top: 50px;
    margin-left: -320px;
    margin-top: 20px;

}

.service_area{
    height: 400px;
    border-bottom: 1px solid #f2f2f2;
}
.single_service{
    text-align: center;
    font-size: 14px;
    /*margin-left: 10px;*/
    /*width: 50%;*/
}
.single_service:nth-child(1){
    margin-left: 0px;
}

.service_box_2{
    top: 70px;
}

.service_box_4{
    top: 70px;
}

.single_service img{
    margin-bottom: 20px;
    height: 70px;
    width: 70px;
}

.single_service p{
    margin-bottom: 0px;
    /*text-align: justify;*/
    letter-spacing: 0px;
    width: 80%;
    margin-left: 20px;
    /*text-align: center;*/
}

#sub_para{
   color:  darkgray;
}


.warning_box{
    padding-top: 20px!important;
}
.warning_box .title_section{
    margin-bottom: 10px;
}
.title_section h4{
    color:  #f16334;
    font-size: 18px;
    font-weight: 700;
}

.warning_details{
    text-align: center;
}

/*.warning_details p{*/
    /*width: 80%;*/
    /*!*text-align: center;*!*/
/*}*/

.claim_area{
    background: #f16334;
    color: white;
    border-bottom: 1px solid #f5784f;
    /*margin-bottom: 50px;*/

}
.claim_box{
    text-align: center;

}


.claim_title p{
    font-size: 36px;
    font-weight: 100;
}

.claim_box a{
    border-color: white;
    color: white;
    font-size: 10px;
    font-weight: 700;
    border-radius: 0px;
    padding: 15px 30px 15px 30px;
    margin-bottom: 20px;
}

footer{
    background: #f16334 ;
    padding: 50px 50px;

}

.brand{
    background: #f16334!important;
    color: white!important;
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: 600;
}

.brand a{

    text-decoration: none;
}
.brand:hover{
    text-decoration: none;
}

footer span{
    color:  #f4825d;
}
.lag_btn{
    color: #f2f2f2;
    font-size: 12px;
}
.lag_btn:hover{
    text-decoration: none;
    color: #f2f2f2;
}

footer p{
color: #f2f2f2;
font-size: 12px;
}


.menu li a{
    margin-left: 50px;

}
.active{
    position: relative;
}
.active:after{
    position: absolute;
    content: '';
    height: 1px;
    width: 68px;
    background: #f2f2f2;
    top: 2px;
    margin-left: -68px;
    margin-top: 20px;
}

footer ul li{
    display: inline;
}

footer ul li a{
    color: #f2f2f2;
    border-color: #f2f2f2;
    font-size: 12px;
}

.menu li .btn{
    border-color: #f2f2f2;
    border-radius: 0px;
    font-size: 10px;
    padding: 10px 30px;
}

#follow_us{
    position: relative;
    color: #f58a67;
    margin-left: 10px;
}

#follow_us:after{
    position: absolute;
    content: '';
    height: 1px;
    width: 30px;
    background: #f58a67;
    top: -10px;
    margin-left: 10px;
    margin-top: 20px;
}

.social_icon a:nth-child(1){
    margin-left: 0px;
}

.social_icon a{
    color: #f2f2f2;
    border-radius: 5px;
    margin-left: 32px;
    float: left;
}
.fa-facebook{
    border-radius: 5px;
}



